<div class="container">
  <!--<a href="https://placeholder.com" class="brand"><img src="http://via.placeholder.com/360x200?text=Your+Logo" width="180" height="100"></a>-->

  <h2><a href="/">한류모아</a></h2>
  <h1><%= @exception.status %> <%= @exception.description %></h1>
  <p>
  <strong><%= @exception.message %></strong>
  </p>

  <p>We’re sorry but it appears that we can’t find the page you were looking for. Usually this occurs because of a page that previously existed was removed or you’ve mistyped the address.</p>
  <p>페이지를 찾을 수 없습니다.</p>

  <span class="go-back"><a href="/">Goto Home</a></span>
 
</div>
