<div class="container">
  <!--<a href="https://placeholder.com" class="brand"><img src="http://via.placeholder.com/360x200?text=Your+Logo" width="180" height="100"></a>-->

  <h2>500</h2>
  <h1>Internal Server Error.</h1>

  <p>Something went wrong. Our technical team have been notified of the issue and we are looking into it. Please try again shortly.</p>

  <span class="go-back"><a href="/">Go back</a></span>
</div>
