<h3>서비스 안내</h3>

<ul>
<li>요청하신 페이지는 권한이 있어야 접근하실 수 있습니다.</li>
<li>로그인을 하신 후에도 이 페이지가 출력되면 해당 기능에 대한 회원 권한이 없는 경우입니다.</li>
<ul>

<hr>

<% if params[:msg] %>
<p>
	<strong><%= params[:msg] %></strong>
</p>
<% end %>

<br>
<br>

<%= link_to "뒤로가기", :back, class:"btn btn-default" %> 

<% if current_user.nil? %>

	<%- if controller_name != 'sessions' %>
	  <%= link_to "로그인", new_session_path(resource_name) %> 
	<% end -%>

	<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
	  <%= link_to "회원 가입", new_registration_path(resource_name) %><br />
	<% end -%>

<% end %>

<br>
<br>