$light-orange: #ff8c00;
$navbar-default-color: $light-orange;
$navbar-default-bg: #312312;
$navbar-default-link-color: gray;
$navbar-default-link-active-color: $light-orange;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: black;
//$navbar_bg: #516B82; 
$navbar_bg1: #408CA1; 
$navbar_bg: darken($navbar_bg1, 5%);  
