<div class="profile">

  <h2>회원 정보</h2>

  <ul class="nav nav-tabs">
      <li class="active"><a href="#" title="회원정보">기본정보</a></li>
      <li><a href="" title="나의 작성글">나의 작성글</a></li>
      <li><a href="" title="나의 스크랩">스크랩</a></li>
      <li><a href="" title="내가 작성한 댓글">댓글</a></li>
  </ul>

  